:root {
    background-color: #555;
}

.ProgramEditor {
    background: #555;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: monospace;
    font-size: 14px;
}

.Function {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: #232323;
    color: #ddd;
    border-radius: 8px;
    box-shadow: 5px 5px 15px black;

    &.collapsed {
        height: 70px;
        /* width: 300px; */
        overflow: hidden;
        position: relative;

        &:before {
            content:'';
            width:100%;
            height:50%;
            position:absolute;
            left:0;
            bottom:0;
            background:linear-gradient(transparent, #232323);
            border-radius: 0 0 8px 8px;
        }
        /* &:after {
            content:'';
            width:10%;
            height:100%;
            position:absolute;
            right:0;
            bottom:0;
            background:linear-gradient(to right, transparent, #202020);
            border-radius: 0 0 8px 8px;
        } */
    }
}

.FunctionBody {
    padding: 10px 14px;
}

/* Override highlight js styles */
.hljs {
    background: none;
}
pre code.hljs {
    overflow: inherit;
}